<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sao-simple-web</title>
</head>
<body>
    <div class="container">
        <div class="hero-box">
            <img class="avatar" src="./assets/images/avatar.png" alt="packy-tang">
        </div>
        <p>
            Welcome to sao-simple-web
        </p>
        <p>
            You can quickly create simple web projects based on Webpack
        </p>
        <p>
            <a class="btn" href="javascript:void('show msg');" data-msg="open your web-project">Get started!</a>
        </p>
        <div id="msg" class="msg"></div>
    </div>
</body>
</html>